@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.nav-item{
    @apply pl-4;

    &:hover{
        @apply text-gray-600 cursor-pointer;
    }
}

.line {
    width: 60px;
    height: 3px;
    background:#d5ac63;
    display: block;
    margin-bottom: 20px;
    margin-top: 20px;
}
